<div class="contenedor-modulos">
  <h1>Cursos y Certificaciones</h1>
  
  <div class="grid-modulos">
    <div class="modulo">
      <h3>Mis Cursos</h3>
      <p>Visualiza el progreso de tus cursos actuales y revisa el contenido de cursos completados.</p>
      <button class="btn-accion" (click)="navegarA('/miscursos')">Ver mis cursos</button>
    </div>
    
    <div class="modulo">
      <h3>Mis Certificados</h3>
      <p>Visualiza y descarga tus certificados.</p>
      <button class="btn-accion" (click)="navegarA('/certificates')">Ver mis certificados</button>
    </div>
    
    <div class="modulo">
      <h3>Subir Certificado</h3>
      <p>Sube certificados externos para mantener tu historial en un solo lugar.</p>
      <button class="btn-accion" (click)="navegarA('/register-certificate')">Subir certificado</button>
    </div>
    
    <div class="modulo">
      <h3>Recomendaciones</h3>
      <p>Recibe recomendaciones personalizadas basadas en tus preferencias.</p>
      <button class="btn-accion" (click)="navegarA('/ruta-4')">Ver recomendaciones</button>
    </div>
  </div>
</div>