<div class="container">
    <div>
        <nav>
            <ul>
                <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
                <!-- Añadir enlace a disponibilidad, solo visible para administradores -->
                <li *ngIf="esAdmin()"><a routerLink="/empleados" routerLinkActive="active">Empleados</a></li>
                <li><a routerLink="/registro-habilidades" routerLinkActive="active">Registrar Habilidades</a></li>
            </ul>
        </nav>
    </div>
    <div class="login-container">
        <a *ngIf="!isLogged" routerLink="/login">Log in</a>
        <a *ngIf="isLogged" (click)="logout()">Log out</a>
    </div>
</div>