@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.container {
  height: 10vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background: linear-gradient(0deg, #000000, #221928);

}

.logo {
  height: 30px;
  width: auto;
  margin-right: 15px;
}

.login-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.avatar-button {
  background-color: #2e2e2e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  right: 0;
  background-color: #1f1f1f;
  min-width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #3a3a3a;
}

.dropdown-content hr {
  border: 0;
  height: 1px;
  background-color: #444;
  margin: 8px 0;
}

nav {
    background-color: linear-gradient(135deg, #2c3e50, #1e272e);
    padding: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  li {
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  a:hover {
    color: #9668e6ae;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: text-decoration-color 0.3s ease, color 0.3s ease;
  }

  .active {
    text-decoration: underline;
    color: #9668e6;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: text-decoration-color 0.3s ease, color 0.3s ease;
  }

  .active:hover {
    text-decoration-color: #9668e6ae;
  }
  