<div class="contenedor-detalle">
  <h1><span class="material-icons">account_circle</span> {{ info.nombre }}</h1>
  <div *ngIf="mostrarMensajeCambioContrasena" class="alert alert-success mt-3"
     [style.animation]="mensajeDesvanecido ? 'fadeOut 0.3s ease-in-out forwards' : 'fadeIn 0.3s ease-in-out'">
  <span class="material-icons" style="margin-right: 8px;">check_circle</span>
  {{ mensajeCambioContrasena }}
</div>
  <div class="caja-info" [ngClass]="{ 'editando': editandoInfo }">
  <div *ngIf="mostrarMensajeExito" class="alert alert-success mt-3" 
    [style.animation]="mensajeDesvanecido ? 'fadeOut 0.3s ease-in-out forwards' : 'fadeIn 0.3s ease-in-out'">
  <span class="material-icons" style="margin-right: 8px;">check_circle</span>
  {{ mensajeExito }}
</div>
  <h2><span class="material-icons">info</span>Informacion Personal</h2>
  <div class="caja-info-superior">
    <div class="izquierda" [ngClass]="{ 'modo-edicion': editandoInfo }">
      <div class="izquierda-superior">
        <p><strong><span class="material-icons">email</span> </strong> {{ info.correo }}</p>

        <mat-form-field appearance="outline" class="full-width" *ngIf="editandoInfo">
          <mat-label><mat-icon>person</mat-icon> Usuario</mat-label>
          <input matInput [(ngModel)]="nuevoUsuario" required />
          <mat-error *ngIf="erroresInfo.usuario">Campo obligatorio</mat-error>
        </mat-form-field>

        <p *ngIf="!editandoInfo">
          <strong><mat-icon>person</mat-icon> Usuario:</strong> {{ nuevoUsuario || 'No asignado' }}
        </p>
        <br/>
        <p *ngIf="!editandoInfo">
          <strong><mat-icon>notifications</mat-icon> Estado Laboral:</strong> {{ nuevoEstado | titlecase }}
        </p>

        <mat-form-field appearance="outline" class="full-width" *ngIf="editandoInfo">
          <mat-label><mat-icon>notifications</mat-icon> Estado Laboral</mat-label>
          <mat-select [(ngModel)]="nuevoEstado">
            <mat-option value="banca">Banca</mat-option>
            <mat-option value="activo">Activo</mat-option>
            <mat-option value="vacaciones">Vacaciones</mat-option>
          </mat-select>
        </mat-form-field>

        <p><strong><span class="material-icons">person</span> People Lead:</strong> {{ info.lead_usuario }}</p>
        <p><strong><span class="material-icons">calendar_today</span> Desde:</strong> {{ info.desde }}</p>
        <p *ngIf="!editandoInfo">
          <strong><mat-icon>pin_drop</mat-icon> Ciudad:</strong> {{ nuevaCiudad.nombre || 'No asignada' }}
        </p>

        <mat-form-field appearance="outline" class="full-width" *ngIf="editandoInfo">
          <mat-label><mat-icon>pin_drop</mat-icon> Ciudad</mat-label>
          <mat-select [(ngModel)]="nuevaCiudad">
            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <!-- <button
        *ngIf="editandoInfo && esMiPerfil"
        class="boton-cambiar-pass"
        (click)="mostrarModalContrasena = true"
        >
        <span class="material-icons">lock</span> Cambiar contraseña
      </button> -->
    </div>
    
    <div class="izquierda-habilidades">
      <div class="habilidades">
        <div class="encabezado-habilidades">
          <h4><span class="material-icons">star</span> Habilidades</h4>
          <button
          *ngIf="editandoInfo && esMiPerfil"
          class="boton-agregar-habilidad"
          (click)="irARegistroHabilidades()"
          >
          <span>+</span>
        </button>
      </div>
      
      <div class="etiquetas-habilidad">
        <div *ngFor="let habilidad of habilidades" class="habilidad-container">
          <div class="habilidad-content">
            <span class="habilidad-etiqueta">{{ habilidad.nombre }}</span>
            
            <button *ngIf="editandoInfo && esMiPerfil" class="boton-acciones-hab" (click)="abrirMenuHabilidad(habilidad)">
              <span class="material-icons">more_vert</span>
            </button>
          </div>
          
          <div class="habilidad-tooltip">
            <div><strong>Nivel:</strong> {{ habilidad.nivel }}</div>
            <div><strong>Descripción:</strong> {{ habilidad.descripcion }}</div>
          </div>
        </div>
      </div>

      <div class="modal modal-acciones" *ngIf="habilidadSeleccionada">
        <div class="modal-contenido modal-pequeno">
          <h3><mat-icon>settings</mat-icon> Acciones para habilidad</h3>
          
          <p class="mb-3">¿Qué deseas hacer con <b>{{ habilidadSeleccionada.nombre }}</b>?</p>
          
          <div class="opciones-acciones">
            <button class="boton-opcion" (click)="editarHabilidad(habilidadSeleccionada)">
              <mat-icon>edit</mat-icon> Editar habilidad
            </button>
            
            <button class="boton-opcion boton-eliminar" (click)="abrirModalEliminar(habilidadSeleccionada)">
              <mat-icon>delete</mat-icon> Eliminar habilidad
            </button>
          </div>

          <div class="acciones-modal">
            <button class="cancelar" (click)="habilidadSeleccionada = null">
              <mat-icon>close</mat-icon> Cancelar
            </button>
          </div>
        </div>
      </div>

      <h4><span class="material-icons">school</span> Certificados</h4>
      <ul>
        <li *ngFor="let certificado of certificados">{{ certificado.nombre }}</li>
      </ul>
    </div>
  </div>
    </div>
    <div class="derecha"></div> 
  </div>
  <br/>
  <div class="botones"> 
    <div>
      <button
      *ngIf="editandoInfo && esMiPerfil"
      class="boton-cambiar-pass"
      (click)="mostrarModalContrasena = true"
      >
      <span class="material-icons">lock</span> Cambiar contraseña
    </button>
  </div>
  <div style="display: flex; flex-direction: row; gap: 10px;">
    <button
    class="boton-cancelar"
    *ngIf="editandoInfo && esMiPerfil"
    (click)="cancelarEdicion(1)"
    >
    <span class="material-icons">cancel</span>
    Cancelar
  </button>

  <button
    class="boton-editar"
    *ngIf="esMiPerfil"
    (click)="editandoInfo ? guardarCambios() : editandoInfo=true"
    >
    <span class="material-icons">{{ editandoInfo ? 'save' : 'edit' }}</span>
    {{ editandoInfo ? 'Guardar' : 'Editar' }}
  </button>
  </div>
  </div>
</div>

<div class="caja-info">
  <h2><span class="material-icons">assessment</span> Informe</h2>
  <div class="caja-info-superior">
    <div class="izquierda">
      <div class="izquierda-superior">
        <p><strong><span class="material-icons">bar_chart</span> Cargabilidad:</strong> {{ info.cargabilidad }}%</p>
        <p><strong><span class="material-icons">bar_chart</span> Nivel:</strong> {{ info.nivel }}</p>
        <p><strong><span class="material-icons">bar_chart</span> Nivel Inglés:</strong> {{ info.nivel_ingles }}</p>
        <p><strong><span class="material-icons">bar_chart</span> Staff Days:</strong> {{ info.staff_days }}</p>
        <p><strong><span class="material-icons">bar_chart</span> YTD Unassigned:</strong> {{ info.ytd_unassigned }}%</p>
        <p><strong><span class="material-icons">bar_chart</span> YTD Recovery:</strong> {{ info.ytd_recovery }}%</p>
        <p><strong><span class="material-icons">bar_chart</span> Bench Days:</strong> {{ info.bd }}%</p>
        <p><strong><span class="material-icons">assignment</span> Proyecto Actual:</strong> {{ info.titulo_proyecto }}</p>
        <p><strong><span class="material-icons">person</span> Puesto:</strong> {{ info.capability_proyecto }}</p>
        <p><strong><span class="material-icons">calendar_today</span> Fecha de Inicio:</strong> {{ info.fecha_inicio }}</p>
        <p><strong><span class="material-icons">book</span> Cantidad de Cursos:</strong> {{ cursos.length }}</p>

      </div>
    </div>
    <div class="derecha">
      
      <div *ngIf="cursos.length > 0">
        <div class="chart-chips">
          <button 
            class="chart-chip" 
            [ngClass]="{'active': activeChart === 'pie1'}" 
            (click)="changeActiveChart('pie1')">
            <span class="material-icons">pie_chart</span>
            Cursos por Tipo
          </button>
          <button 
            class="chart-chip" 
            [ngClass]="{'active': activeChart === 'pie2'}" 
            (click)="changeActiveChart('pie2')">
            <span class="material-icons">donut_large</span>
            Progreso Promedio
          </button>
          <button 
            class="chart-chip" 
            [ngClass]="{'active': activeChart === 'bar'}" 
            (click)="changeActiveChart('bar')">
            <span class="material-icons">bar_chart</span>
            Progreso por Curso
          </button>
        </div>
        <div class="chart-container">
          <canvas id="pieChart" [style.display]="activeChart === 'pie1' ? 'block' : 'none'"></canvas>
          <canvas id="pieChart2" [style.display]="activeChart === 'pie2' ? 'block' : 'none'"></canvas>
          <canvas id="barChart" [style.display]="activeChart === 'bar' ? 'block' : 'none'"></canvas>
        </div>
      </div>
      
      <!-- Mostrar mensaje si NO hay cursos -->
      <ng-container *ngIf="cursos.length === 0">
        <p *ngIf="esMiPerfil">
          No hay cursos registrados. <br/> Te ayudamos a encontrar un curso →
        </p>
        <p *ngIf="!esMiPerfil">
          Este usuario no tiene cursos registrados.
        </p>
      </ng-container>

      </div>
  </div>
</div>
  

  <div class="carrera" [ngClass]="{ 'modo-edicion': editandoTrayectoria }">
    <h2><span class="material-icons">work</span> Trayectoria Laboral</h2>
  
    <div class="linea-tiempo">
      <div
        class="elemento-tiempo agregar-tarjeta"
        *ngIf="editandoTrayectoria && esMiPerfil && !existeExperienciaNueva()"
      >
        <button class="boton-agregar-exp" (click)="agregarExperiencia()">
          <span>+</span>
        </button>
      </div>
  
      <div
        class="elemento-tiempo"
        *ngFor="let experiencia of experiencias; let i = index"
      >
        <button
          *ngIf="editandoTrayectoria && esMiPerfil && editandoIndice !== i"
          class="boton-editar-cuadro"
          (click)="iniciarEdicionExperiencia(i)"
        >
          <span class="material-icons">edit</span> Editar
        </button>
  
        <div *ngIf="editandoIndice !== i">
          <h4><span class="material-icons">device_hub</span> {{experiencia.titulo_proyecto}}, {{ experiencia.titulo }}</h4>
          <h4><span class="material-icons">business</span>{{ experiencia.empresa }}</h4>
          <p>{{ experiencia.descripcion }}</p>
          <small>
            <span class="material-icons">calendar_today</span>
            {{ experiencia.inicio }} - {{ experiencia.fin }}
          </small>
        </div>

        <div *ngIf="editandoIndice === i" class="modo-edicion experiencia-form">
          <!-- <div class="campo-grupo">
            <label>
              <span class="material-icons">device_hub</span> Capability:
            </label>
            <select 
              [(ngModel)]="experiencia.capability_id" 
              [class.error-input]="errores[i].titulo"
              (ngModelChange)="experiencia.titulo = obtenerNombreCapability(experiencia.capability_id)">
              <option [ngValue]="undefined" disabled>{{ capabilities.length ? 'Selecciona una opción' : 'Cargando opciones...' }}</option>
              <option *ngFor="let cap of capabilities" [ngValue]="cap.id">{{ cap.nombre }}</option>
            </select>
            <span class="error" *ngIf="errores[i].titulo">Campo requerido</span>
            <span class="error" *ngIf="capabilities.length === 0">No se pudieron cargar las opciones. Intenta de nuevo.</span>
          </div> -->
          <mat-form-field appearance="outline" class="campo-grupo">
            <mat-label>
              <mat-icon>device_hub</mat-icon> Capability
            </mat-label>

            <mat-select
              [(ngModel)]="experiencia.capability_id"
              name="capability_{{ i }}"
              (selectionChange)="experiencia.titulo = obtenerNombreCapability($event.value)"
              [disabled]="!capabilities.length"
              [class.error-input]="errores[i].titulo"
              required
            >
              <mat-option [value]="undefined" disabled>
                {{ capabilities.length ? 'Selecciona una opción' : 'Cargando opciones...' }}
              </mat-option>

              <mat-option *ngFor="let cap of capabilities" [value]="cap.id">
                {{ cap.nombre }}
              </mat-option>
            </mat-select>

            <!-- <mat-hint *ngIf="capabilities.length === 0" class="error">No se pudieron cargar las opciones. Intenta de nuevo.</mat-hint>
            <mat-error *ngIf="errores[i].titulo">Campo requerido</mat-error> -->
          </mat-form-field>


          <div class="campo-grupo">
            <label>Proyecto:</label>
            <input [(ngModel)]="experiencia.titulo_proyecto" [class.error-input]="errores[i].titulo_proyecto" />
            <span class="error" *ngIf="errores[i].titulo_proyecto">Campo requerido</span>
          </div>

          <div class="campo-grupo">
            <label><span class="material-icons">business</span> Empresa:</label>
            <input [(ngModel)]="experiencia.empresa" [class.error-input]="errores[i].empresa" />
            <span class="error" *ngIf="errores[i].empresa">Campo requerido</span>
          </div>

          <div class="campo-checkbox">
            <input type="checkbox" id="puestoActual{{i}}" [ngModel]="experiencia.esPuestoActual" (ngModelChange)="experiencia.esPuestoActual = $event; togglePuestoActual(i)" />
            <label for="puestoActual{{i}}">
              <span class="material-icons">work</span> Es mi puesto actual
            </label>
          </div>

          <div class="fechas-container">
            <div class="campo-grupo">
              <label><span class="material-icons">event_available</span> Inicio:</label>
              <input
                type="date"
                [(ngModel)]="experiencia.inicio"
                [class.error-input]="errores[i].inicio"
                (change)="validarFechas(i)"
              />
              <span class="error" *ngIf="errores[i].inicio">Campo requerido</span>
            </div>

            <div class="campo-grupo" *ngIf="!experiencia.esPuestoActual">
              <label><span class="material-icons">event_busy</span> Fin:</label>
              <input
                type="date"
                [(ngModel)]="experiencia.fin"
                [class.error-input]="errores[i].fin || errores[i].fechaInvalida"
                (change)="validarFechas(i); errores[i].fin = !experiencia.fin"
                (input)="errores[i].fin = !experiencia.fin"
              />
              <span class="error" *ngIf="errores[i].fin">Campo requerido</span>
              <span class="error" *ngIf="errores[i].fechaInvalida">
                La fecha de fin no puede ser anterior a la fecha de inicio
              </span>
            </div>
          </div>

          <div class="campo-grupo">
            <label>Descripción:</label>
            <textarea
              [(ngModel)]="experiencia.descripcion"
              [class.error-input]="errores[i].descripcion"
            ></textarea>
            <span class="error" *ngIf="errores[i].descripcion">
              Campo requerido
            </span>
          </div>

          <div class="acciones">
            <div class="botones-principales">
              <button class="boton-guardar" (click)="guardarExperienciaForzado(i)">
                <span class="material-icons">save</span> Guardar
              </button>
              <button class="boton-cancelar" (click)="cancelarEdicionExperiencia(i)">
                <span class="material-icons">cancel</span> Cancelar
              </button>
            </div>
            <button class="boton-eliminar" (click)="eliminarExperiencia(i)">
              <span class="material-icons">delete</span> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="boton-editar-trayectoria-global">
      <button
        (click)="guardarTrayectoria()"
        class="boton-editar"
        *ngIf="esMiPerfil"
      >
        <span class="material-icons">{{ editandoTrayectoria ? 'save' : 'edit' }}</span>
        {{ editandoTrayectoria ? 'Guardar' : 'Editar' }}
      </button>

      <div class="botones"> 
        <button
        class="boton-cancelar"
        *ngIf="editandoTrayectoria && esMiPerfil"
        (click)="cancelarEdicion(2)"
        >
        <span class="material-icons">cancel</span>
        Cancelar
      </button>
      <button
      class="boton-editar"
      *ngIf="esMiPerfil"
      (click)="editandoTrayectoria" ? guardarTrayectoria() 
      >
      <span class="material-icons">{{ editandoTrayectoria ? 'save' : 'edit' }}</span>
      {{ editandoTrayectoria ? 'Guardar' : 'Editar' }}
      </button>
      </div>
    </div>

    
<div class="modal" *ngIf="habilidadEditando">
  <div class="modal-contenido">
    <h3><mat-icon>edit</mat-icon> Editar habilidad</h3>
    
    <p class="mb-3">Editando <b>{{ habilidadEditando.nombre }}</b></p> 
    
    <div class="campo-grupo">
      <label><mat-icon>grade</mat-icon> Nivel:</label>
      <select [(ngModel)]="nivelSeleccionado">
        <option *ngFor="let nivel of nivelesHabilidad" [value]="nivel">{{ nivel }}</option>
      </select>
    </div>
    
    <div class="campo-grupo">
      <label><mat-icon>description</mat-icon> Descripción:</label>
      <textarea 
        [(ngModel)]="descripcionEditada" 
        rows="3"
        placeholder="Describe tu experiencia con esta habilidad..."
      ></textarea>
    </div>

    <div class="acciones-modal">
      <button class="boton-guardar"(click)="guardarCambiosHabilidad()">
        <mat-icon>check</mat-icon> Guardar cambios
      </button>
      <button class="cancelar" (click)="cancelarEdicionHabilidad()">
        <mat-icon>close</mat-icon> Cancelar
      </button>
    </div>
  </div>
</div>

    <div class="modal" *ngIf="habilidadPendiente">
  <div class="modal-contenido">
    <h3><mat-icon>delete</mat-icon> Eliminar habilidad</h3>

    <p>¿Seguro que deseas eliminar
       <b>{{ habilidadPendiente.nombre }}</b> de tu perfil?</p>

    <div class="acciones-modal">
      <button (click)="confirmarEliminarHabilidad()">
        <mat-icon>check</mat-icon> Sí, eliminar
      </button>
      <button class="cancelar" (click)="habilidadPendiente = null">
        <mat-icon>close</mat-icon> Cancelar
      </button>
    </div>

  <div class="modal" *ngIf="mostrarModalContrasena">
    <div class="modal-contenido">
      <h3><span class="material-icons">lock</span> Cambiar contraseña</h3>
      <div class="mensaje-exito" *ngIf="mostrarMensajeExito">
        <span class="material-icons">check_circle</span>
          ¡Contraseña cambiada con éxito!
      </div>
      <label><span class="material-icons">vpn_key</span> Contraseña actual:</label>
      <input type="password" [(ngModel)]="contrasenaActual" />
      <span class="error" *ngIf="erroresPass.actual">Campo requerido</span>

      <label>
        <span class="material-icons">lock_open</span> Nueva contraseña:
      </label>
      <input type="password" [(ngModel)]="nuevaContrasena" />
      <span class="error" *ngIf="erroresPass.nueva">
        {{erroresPass.mensajeError || 'La contraseña debe tener al menos 8 caracteres'}}
      </span>

      <label>
        <span class="material-icons">lock_outline</span> Confirmar nueva contraseña:
      </label>
      <input type="password" [(ngModel)]="confirmarContrasena" />
      <span class="error" *ngIf="erroresPass.confirmar">Las contraseñas no coinciden</span>
      

      <div class="error-mensaje" *ngIf="erroresPass.mensajeError">
        <span class="material-icons">error</span> {{erroresPass.mensajeError}}
      </div>

      <div class="acciones-modal">
        <button (click)="confirmarCambioContrasena()">
          <span class="material-icons">check</span> Confirmar
        </button>
        <button class="cancelar" (click)="cerrarModalContrasena()">
          <span class="material-icons">close</span> Cancelar
        </button>
      </div>
    </div>
  </div>
</div>