.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--accenture-gray-50);
}

.login-box {
    background: var(--accenture-white);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

.logo {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

input {
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

button {
    padding: 12px;
    background: #A100FF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #5f0096;
}

.error {
    color: #ff4d4d;
    font-size: 14px;
    font-weight: bold;
}
