<!-- Recover password -->
<div class="login-container">
    <div class="login-box">
        <div>
            <img src="assets/logo_accenture.svg" class="logo">
        </div>
        <div>
            <form (submit)="recover()">
                <label>Correo:</label>
                <input type="text" [(ngModel)]="email" name="email" required>
                
                <button type="submit">Enviar contraseña al correo</button>
                
                <p *ngIf="mensaje" class="error">{{mensaje}}</p>
            </form>
            <br>
            <p class="forgot-password" (click)="gotoLogin()">Regresar</p>
        </div>
    </div>
</div>