<body>
<div class="participacion-container">
  <main class="participacion-content">
    <!-- Proyectos disponibles -->
    <div class="section-title">
      <h1>Proyectos disponibles:</h1>
    </div>
    <div class="skills-container">
      <div class="skills-box">
        <!--  -->
      </div>
    </div>

    <!-- Proyectos actuales -->
    <div class="section-title">
      <h2>Proyectos en los que participas:</h2>
    </div>
    <div class="skills-container">
      <div class="skills-box">
        <!--  -->
      </div>
    </div>

    <!-- Proyectos pasados -->
    <div class="section-title">
      <h3>Proyectos pasados:</h3>
    </div>
    <div class="skills-container">
      <div class="skills-box">
        <!--  -->
      </div>
    </div>
  </main>
</div>
</body>